<!DOCTYPE html>
<html>
    <head>
        <title>weatherstalker</title>
        <link rel="stylesheet" type="text/css" href="./styles/index.css">
        <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="./scripts/index.js"></script>
    </head>
    <body>
        loading...
        <form action="/" method="POST" style="display:none;">
            <input type="text" name="location">
            <input type="submit" value="Get Weather">
        </form>
    </body>
</html>
